# Preprocessing the CERT Dataset for Model Training:

### Imports:

In [1]:
import os
import numpy as np
import pandas as pd

### Importing the CERT Dataset:

In [2]:
cert_path = r"C:\Users\loera\Documents\Datasets\CERT_r6.2"

In [3]:
logons = pd.read_csv(os.path.join(cert_path, "logon.csv"))

In [4]:
logons.head()

                         id                 date     user       pc activity
0  {F3X8-Y2GT43DR-4906OHBL}  01/02/2010 02:19:18  DNS1758  PC-0414    Logon
1  {B4Q0-D0GM24KN-3704MAII}  01/02/2010 02:31:12  DNS1758  PC-0414   Logoff
2  {T7J1-D4HK34KV-5476TCIJ}  01/02/2010 02:34:02  DNS1758  PC-5313    Logon
3  {S4Y6-D8MQ05SA-0759HLIS}  01/02/2010 02:53:30  DNS1758  PC-5313   Logoff
4  {F3P0-E7FH78CV-4874FRGZ}  01/02/2010 04:07:31  DNS1758  PC-0012    Logon

In [5]:
files = pd.read_csv(os.path.join(cert_path, "file.csv"))

In [6]:
files.head()

,id,date,user,pc,filename,activity,to_removable_media,from_removable_media,content
0,{F3E2-X3MV05YQ-3516SZDT},01/02/2010 07:19:41,SDH2394,PC-5849,R:\60WBQE7S.doc,File Open,False,True,"D0-CF-11-E0-A1-B1-1A-E1 Ernesztin's brother, L..."
1,{I6N1-Z7VL92UY-8715ESKQ},01/02/2010 07:21:30,SDH2394,PC-5849,R:\0VGILDW8.pdf,File Write,True,False,25-50-44-46-2D ---- Bengali As do many other T...
2,{G4X5-J7MH70FV-8936QVSB},01/02/2010 07:22:11,SDH2394,PC-5849,R:\60WBQE7S.doc,File Copy,False,True,"D0-CF-11-E0-A1-B1-1A-E1 Ernesztin's brother, L..."
3,{M2M7-Z5ST21EU-6704NSKO},01/02/2010 07:24:06,SDH2394,PC-5849,R:\22B5gX4\H8Y96RRE.doc,File Write,True,False,D0-CF-11-E0-A1-B1-1A-E1 After the death of his...
4,{R0A9-O9XB25PE-9236MALV},01/02/2010 07:24:45,SDH2394,PC-5849,R:\SDH2394\7XRCV2N5.pdf,File Copy,True,False,25-50-44-46-2D Although he restored some of th...

In [7]:
devices = pd.read_csv(os.path.join(cert_path, "device.csv"))

In [8]:
devices.head()

,id,date,user,pc,file_tree,activity
0,{Z2Q8-K3AV28BE-9353JIRT},01/02/2010 07:17:18,SDH2394,PC-5849,R:\;R:\22B5gX4;R:\SDH2394,Connect
1,{C7F1-G7LE60RU-2483DAXS},01/02/2010 07:22:42,JKS2444,PC-6961,R:\;R:\JKS2444,Connect
2,{T9A4-D4RV69OF-1704NINW},01/02/2010 07:31:42,CBA1023,PC-1570,R:\;R:\42gY283;R:\48rr4y2;R:\59ntt61;R:\76xCQG...,Connect
3,{S8L0-O6QQ15NL-0636OYNV},01/02/2010 07:33:28,GNT0221,PC-6427,R:\;R:\GNT0221,Connect
4,{U0F1-R1FX27FM-6954TTVU},01/02/2010 07:33:55,JKS2444,PC-6961,NaN,Disconnect

In [9]:
emails = pd.read_csv(os.path.join(cert_path, "email.csv"))

In [10]:
emails.head()

,id,date,user,pc,to,cc,bcc,from,activity,size,attachments,content
0,{I1O2-B4EB49RW-7379WSQW},01/02/2010 06:36:41,HDB1666,PC-6793,Louis.Bernard.Garza@dtaa.com,Emery.Ali.Holloway@dtaa.com,Hector.Donovan.Bray@dtaa.com,Hector.Donovan.Bray@dtaa.com,Send,45659,NaN,"Now Sylvia, the object of Aminta's desire, arr..."
1,{L7E7-V4UX89RR-3036ZDHU},01/02/2010 06:40:02,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Luke.Grant.Mcmahon@dtaa.com,View,34142,NaN,"On May 14, they picked up 44 more Iroquois at ..."
2,{S8C2-Q8YX87DJ-0516SIWZ},01/02/2010 06:42:48,HDB1666,PC-6793,Quintessa.O.Farrell@harris.com,Hector.Donovan.Bray@dtaa.com,NaN,Hector.Donovan.Bray@dtaa.com,Send,1310925,C:\28X79b6\0PAGXTJ8.doc(1119253);C:\11b38g6\5M...,Sylvia is notable for its mythological Arcadia...
3,{A1V9-O5BL46SW-1708NAEC},01/02/2010 06:45:42,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Travis.Ezra.Warner@dtaa.com,View,23043,NaN,Lanctot (1967) and Smith do not identify any s...
4,{N6R0-M2EI82DM-5583LSUM},01/02/2010 06:47:07,HDB1666,PC-6793,Hector.Donovan.Bray@dtaa.com,NaN,NaN,Kenyon.William.Delacruz@dtaa.com,View,25210,NaN,Much like all the other large groups of prison...

### Normalizing Data Within Shared Columns:

In [11]:
def normalize_shared_columns(df: pd.DataFrame, remove_cols: list=["id"]) -> pd.DataFrame:
    """
    Normalizes CERT log files across commonly shared columns. Additionally drops columns that are deemed irrelevant.
    
    Args:
        df: The raw CERT dataframe (logon, file, device, or email)
        remove_cols: The columns to drop from the original CERT file
        
    Returns:
        pd.Dataframe: A normalized dataframe with consistent identifiers and fields
    """
    # Standardizing column names
    df = df.copy()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.strip()
    df_cols = df.columns
    
    # Renaming data column
    if "date" in df_cols:
        df.rename(columns={"date":"timestamp"}, inplace=True)
        
    # Converting timestamp to datetime
    df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
    
    # Dropping rows with invalid timestamps
    df.dropna(axis=0, subset=["timestamp"], inplace=True)
    
    # Creating a 'day' aggregation key column
    df["day"] = df["timestamp"].dt.floor("D")
    
    # Normalizing identifiers
    df["user"] = df["user"].astype(str)
    df["user"] = df["user"].str.lower()
    df["user"] = df["user"].str.strip()
    
    df["pc"] = df["pc"].astype(str)
    df["pc"] = df["pc"].str.lower()
    df["pc"] = df["pc"].str.strip()
    
    # Dropping unusable columns
    remove_cols = [col.lower().strip() for col in remove_cols]
    cols_to_drop = [col for col in remove_cols if col in df_cols]
    df.drop(axis=1, columns=cols_to_drop, inplace=True)
    
    # Sorting rows for consistency
    df.sort_values(by=["user", "pc", "timestamp"], inplace=True)
    
    return df

In [12]:
norm_logons = normalize_shared_columns(logons)

In [13]:
norm_logons.head()

                timestamp     user       pc activity        day
2686  2010-01-04 07:41:00  aab0162  pc-6599    Logon 2010-01-04
10398 2010-01-04 18:46:00  aab0162  pc-6599   Logoff 2010-01-04
12559 2010-01-05 07:46:00  aab0162  pc-6599    Logon 2010-01-05
20419 2010-01-05 18:40:00  aab0162  pc-6599   Logoff 2010-01-05
22815 2010-01-06 07:45:00  aab0162  pc-6599    Logon 2010-01-06

In [14]:
norm_files = normalize_shared_columns(files)

In [15]:
norm_files.head()

,timestamp,user,pc,filename,activity,to_removable_media,from_removable_media,content,day
44760,2010-01-13 10:34:04,aab0162,pc-6599,C:\ASMWXYUP.pdf,File Open,False,False,25-50-44-46-2D If you look at the assassinatio...,2010-01-13
45574,2010-01-13 12:22:42,aab0162,pc-6599,C:\ASMWXYUP.pdf,File Open,False,False,25-50-44-46-2D If you look at the assassinatio...,2010-01-13
65488,2010-01-18 15:40:26,aab0162,pc-6599,C:\ASMWXYUP.pdf,File Open,False,False,25-50-44-46-2D If you look at the assassinatio...,2010-01-18
271634,2010-03-08 14:49:23,aab0162,pc-6599,C:\ASMWXYUP.pdf,File Open,False,False,25-50-44-46-2D If you look at the assassinatio...,2010-03-08
571486,2010-05-19 13:10:35,aab0162,pc-6599,C:\ASMWXYUP.pdf,File Open,False,False,25-50-44-46-2D If you look at the assassinatio...,2010-05-19

In [16]:
norm_devices = normalize_shared_columns(devices)

In [17]:
norm_devices.head()

,timestamp,user,pc,file_tree,activity,day
1404,2010-01-04 08:26:37,aac0610,pc-1834,R:\;R:\31j52f6;R:\44VQPl0;R:\52GqG81;R:\67Ppwr...,Connect,2010-01-04
2273,2010-01-04 10:23:08,aac0610,pc-1834,NaN,Disconnect,2010-01-04
8162,2010-01-05 14:10:01,aac0610,pc-1834,R:\;R:\31j52f6;R:\44VQPl0;R:\52GqG81;R:\67Ppwr...,Connect,2010-01-05
8241,2010-01-05 14:20:11,aac0610,pc-1834,NaN,Disconnect,2010-01-05
8619,2010-01-05 15:04:58,aac0610,pc-1834,R:\;R:\31j52f6;R:\44VQPl0;R:\52GqG81;R:\67Ppwr...,Connect,2010-01-05

In [18]:
norm_emails = normalize_shared_columns(emails)

In [19]:
norm_emails.head()

,timestamp,user,pc,to,cc,bcc,from,activity,size,attachments,content,day
6198,2010-01-04 08:34:26,aab0162,pc-6599,Tyrone.Axel.Prince@dtaa.com,Jeanette.Macey.Simpson@dtaa.com,NaN,Amos.Ahmed.Burch@dtaa.com,Send,27156,NaN,The forests and meadows of Bryce Canyon provid...,2010-01-04
6518,2010-01-04 08:40:32,aab0162,pc-6599,Amos.Ahmed.Burch@dtaa.com,NaN,NaN,Nicole_Moody@hp.com,View,27782,NaN,About 35% of Ember Ridge andesite contains phe...,2010-01-04
6541,2010-01-04 08:41:06,aab0162,pc-6599,Adria.Sylvia.Flowers@dtaa.com;Xenos.Akeem.Barr...,NaN,NaN,Amos.Ahmed.Burch@dtaa.com,Send,2351690,C:\AAB0162\8UXAP401.doc(2129531);C:\AAB0162\GL...,"So if you killed right wing figures, you'd als...",2010-01-04
6606,2010-01-04 08:42:09,aab0162,pc-6599,Amos.Ahmed.Burch@dtaa.com,NaN,NaN,Raphael.Adrian.Peck@dtaa.com,View,30821,NaN,"At that time, Harrison had never worked in Bri...",2010-01-04
6640,2010-01-04 08:42:48,aab0162,pc-6599,Amos.Ahmed.Burch@dtaa.com,NaN,NaN,WOB17@boeing.com,View,29378,NaN,Sioeng also joined Fong at a meeting with then...,2010-01-04

In [20]:
# Sanity checks
files = [norm_logons, norm_files, norm_devices, norm_emails]

for file in files:
    assert file["day"].dtype == "datetime64[ns]"
    assert set(["user", "pc", "timestamp", "day"]).issubset(norm_logons.columns)

### Feature Engineering Normalized Data:

In [21]:
def extract_logon_features(norm_df: pd.DataFrame, work_hours: tuple=(9, 17)) -> pd.DataFrame:
    """
    Extracts daily authentication behavior features from logon events to create an aggregated feature table.
    
    Args:
        norm_df: The normalized logon dataframe
        work_hours: The range describing regular work hours based on a 24-hour format
        
    Returns:
        pd.DataFrame: Aggregated logon behavior features per (user, pc, day)
    """
    df = norm_df.copy()
    
    # Defining off-hour logons
    df["hour"] = df["timestamp"].dt.hour
    df["off_hours"] = (df["hour"] < work_hours[0]) | (df["hour"] > work_hours[1])
    
    # Creating groups based on (user, pc, day)    
    grouped = df.groupby(["user", "pc", "day"])
    
    # Deriving logon-related features
    features = grouped.agg(
        logon_count = ("activity", lambda x: (x=="Logon").sum()),
        logoff_count = ("activity", lambda x: (x=="Logoff").sum()),
        off_hours_logon = ("off_hours", "sum")
    ).reset_index()
    
    return features

In [22]:
agg_logons = extract_logon_features(norm_logons)

In [23]:
agg_logons.head()

      user       pc        day  logon_count  logoff_count  off_hours_logon
0  aab0162  pc-6599 2010-01-04            1             1                2
1  aab0162  pc-6599 2010-01-05            1             1                2
2  aab0162  pc-6599 2010-01-06            1             1                2
3  aab0162  pc-6599 2010-01-07            1             1                2
4  aab0162  pc-6599 2010-01-08            1             1                2

In [24]:
def extract_file_features(norm_df: pd.DataFrame, work_hours: tuple=(9, 17)) -> pd.DataFrame:
    """
    Extracts daily file access behavior features to create an aggregated feature table.
    
    Args:
        norm_df: Normalized file activity dataframe
        work_hours: The range describing regular work hours based on a 24-hour format
        
    Returns:
        pd.DataFrame: Aggregated file behavior features per (user, pc, day)
    """
    df = norm_df.copy()
    
    # Defining off-hour logons
    df["hour"] = df["timestamp"].dt.hour
    df["off_hours"] = (df["hour"] < work_hours[0]) | (df["hour"] > work_hours[1])
    
    # Creating groups based on (user, pc, day)
    grouped = df.groupby(["user", "pc", "day"])
    
    # Deriving file-related features
    features = grouped.agg(
        file_open_count = ("activity", lambda x: (x=="File Open").sum()),
        file_write_count = ("activity", lambda x: (x=="File Write").sum()),
        file_copy_count = ("activity", lambda x: (x=="File Copy").sum()),
        file_delete_count = ("activity", lambda x: (x=="File Delete").sum()),
        unique_files_accessed = ("filename", "nunique"),
        off_hours_files_accessed = ("off_hours", "sum")
    ).reset_index()
    
    return features

In [25]:
agg_files = extract_file_features(norm_files)

In [26]:
agg_files.head()

,user,pc,day,file_open_count,file_write_count,file_copy_count,file_delete_count,unique_files_accessed,off_hours_files_accessed
0,aab0162,pc-6599,2010-01-13,2,0,0,0,1,0
1,aab0162,pc-6599,2010-01-18,1,0,0,0,1,0
2,aab0162,pc-6599,2010-03-08,1,0,0,0,1,0
3,aab0162,pc-6599,2010-05-19,1,0,0,0,1,0
4,aab0162,pc-6599,2010-05-24,1,0,0,0,1,0

In [27]:
def extract_device_features(norm_df: pd.DataFrame, work_hours: tuple=(9, 17)) -> pd.DataFrame:
    """
    Extracts daily removable media (USB) behavior features to create an aggregated feature table.
    
    Args:
        norm_df: Normalized file activity dataframe
        work_hours: The range describing regular work hours based on a 24-hour format
        
    Returns:
        pd.DataFrame: Aggregated removable media behavior features per (user, pc, day)
    """
    df = norm_df.copy()
    
    # Defining off-hour logons
    df["hour"] = df["timestamp"].dt.hour
    df["off_hours"] = (df["hour"] < work_hours[0]) | (df["hour"] > work_hours[1])
    
    # Creating groups based on (user, pc, day)
    grouped = df.groupby(["user", "pc", "day"])
    
    # Deriving media-related features
    features = grouped.agg(
        usb_insert_count = ("activity", lambda x: (x=="Connect").sum()),
        usb_remove_count = ("activity", lambda x: (x=="Disconnect").sum()),
        off_hours_usb_usage = ("off_hours", "sum")
    ).reset_index()
    
    return features

In [28]:
agg_devices = extract_device_features(norm_devices)

In [29]:
agg_devices.head()

,user,pc,day,usb_insert_count,usb_remove_count,off_hours_usb_usage
0,aac0610,pc-1834,2010-01-04,1,1,1
1,aac0610,pc-1834,2010-01-05,2,2,0
2,aac0610,pc-1834,2010-01-06,1,1,1
3,aac0610,pc-1834,2010-01-07,2,2,0
4,aac0610,pc-1834,2010-01-08,1,1,0

In [30]:
def extract_email_features(norm_df: pd.DataFrame, work_hours: tuple=(9, 17)) -> pd.DataFrame:
    """
    Extracts daily email communication behavior features to create an aggregated feature table.
    
    Args:
        norm_df: Normalized file activity dataframe
        work_hours: The range describing regular work hours based on a 24-hour format
        
    Returns:
        pd.DataFrame: Aggregated email behavior features per (user, pc, day)
    """
    df = norm_df.copy()
    
    # Defining off-hour logons
    df["hour"] = df["timestamp"].dt.hour
    df["off_hours"] = (df["hour"] < work_hours[0]) | (df["hour"] > work_hours[1])
    
    # External email heuristic
    df["external_email"] = ~df["to"].str.contains("dtaa.com", na=False)
    
    # Creating groups based on (user, pc, day)
    grouped = df.groupby(["user", "pc", "day"])
    
    # Deriving email-related features
    features = grouped.agg(
        emails_sent = ("to", "count"),
        unique_recipients = ("to", "nunique"),
        external_emails = ("external_email", "sum"),
        attachements_sent = ("attachments", lambda x: (x.notnull()).sum()),
        off_hours_emails = ("off_hours", "sum")
    ).reset_index()
    
    return features

In [31]:
agg_emails = extract_email_features(norm_emails)

In [32]:
agg_emails.head()

,user,pc,day,emails_sent,unique_recipients,external_emails,attachements_sent,off_hours_emails
0,aab0162,pc-6599,2010-01-04,9,5,1,1,5
1,aab0162,pc-6599,2010-01-05,9,8,1,2,0
2,aab0162,pc-6599,2010-01-06,9,8,0,1,8
3,aab0162,pc-6599,2010-01-07,9,7,2,1,5
4,aab0162,pc-6599,2010-01-08,9,7,2,0,0

### Merging Aggregated Feature Tables Into One Behavioral Matrix:

In [33]:
def merge_behavorial_features(feature_tables: list[pd.DataFrame], merge_cols: list=["user", "pc", "day"]) -> pd.DataFrame:
    """
    Merges multiple aggreagated behavorial feature tables into a single dataset
    
    Args:
        feature_tables: A list of aggreagated features dataframes to merge, where each table must contain the merge columns
        merge_cols: columns to merge on
        
    Returns:
        pd.DataFrame: A unified table with missing activitiy filled with zeros
    """
    # Filtering our empty tables
    valid_tables = [df for df in feature_tables if ((df is not None) and (not df.empty))]
    
    if not valid_tables:
        raise ValueError("No valid feature tables provided for merging")

    merged_df = valid_tables[0].copy()
    
    # Iteratively merging tables
    for df in valid_tables[1:]:
        merged_df = merged_df.merge(df, on=merge_cols, how="outer")
        
    # Identifying feature columns, excluding identifiers
    feature_cols = [col for col in merged_df.columns if col not in merge_cols]
    
    # Filling missing feature values with zero
    merged_df[feature_cols] = merged_df[feature_cols].fillna(0)
    merged_df[feature_cols] = merged_df[feature_cols].astype("int32")
    
    # Sorting dataframe for consistency
    merged_df.sort_values(by=merge_cols, inplace=True)
    merged_df.reset_index(drop=True, inplace=True)
    
    return merged_df

In [34]:
feature_tables = [agg_logons, agg_files, agg_devices, agg_emails]

In [35]:
behavioral_matrix = merge_behavorial_features(feature_tables)

In [36]:
behavioral_matrix

,user,pc,day,logon_count,logoff_count,off_hours_logon,file_open_count,file_write_count,file_copy_count,file_delete_count,unique_files_accessed,off_hours_files_accessed,usb_insert_count,usb_remove_count,off_hours_usb_usage,emails_sent,unique_recipients,external_emails,attachements_sent,off_hours_emails
0,aab0162,pc-6599,2010-01-04,1,1,2,0,0,0,0,0,0,0,0,0,9,5,1,1,5
1,aab0162,pc-6599,2010-01-05,1,1,2,0,0,0,0,0,0,0,0,0,9,8,1,2,0
2,aab0162,pc-6599,2010-01-06,1,1,2,0,0,0,0,0,0,0,0,0,9,8,0,1,8
3,aab0162,pc-6599,2010-01-07,1,1,2,0,0,0,0,0,0,0,0,0,9,7,2,1,5
4,aab0162,pc-6599,2010-01-08,1,1,2,0,0,0,0,0,0,0,0,0,9,7,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564764,zzo2997,pc-3120,2011-05-24,1,1,1,0,0,0,0,0,0,0,0,0,14,11,7,1,0
1564765,zzo2997,pc-3120,2011-05-25,1,1,1,0,0,0,0,0,0,0,0,0,14,13,6,2,3
1564766,zzo2997,pc-3120,2011-05-26,1,1,1,0,0,0,0,0,0,0,0,0,14,13,6,2,0
1564767,zzo2997,pc-3120,2011-05-27,1,1,1,0,0,0,0,0,0,0,0,0,14,14,5,5,0
1564768,zzo2997,pc-3120,2011-05-31,1,1,1,0,0,0,0,0,0,0,0,0,14,14,0,2,0

In [37]:
# Ensuring there are no duplicate rows
assert behavioral_matrix.duplicated(subset=["user", "pc", "day"]).sum() == 0

# Ensuring there are no empty cells in the feature space
assert behavioral_matrix.drop(columns=["user", "pc", "day"]).isna().sum().sum() == 0

### Integrating UEBA-Specific Enhancements:

In [38]:
def apply_ueba_enhancements(df: pd.DataFrame, id_cols: list=["user", "pc", "day"], rolling_window: int=7) -> pd.DataFrame:
    """
    Applying UEBA-specific enhancements to a behavioral matrix such as:
    - Per-user z-score deviations
    - Rolling mean deltas
    - Cross-channel risk flags
    
    Args:
        df: A merged behavioral matrix
        id_cols: Identifier columns to exclude from feature calculation
        rolling_window: Window size in days for rolling statistics
        
    Returns:
        pd.DataFrame: An enhanced UEBA-ready feature matrix
    """
    df = df.copy()
    df.sort_values(by=["user", "day"], inplace=True)
    
    feature_cols = [col for col in df.columns if col not in id_cols]
    
    # Defining per-user baseline z-score deviations
    for col in feature_cols:
        # Calculating feature-specific mean and standard deviation
        user_mean = df.groupby("user")[col].transform("mean")
        user_std = df.groupby("user")[col].transform("std")
        
        # Avoiding division by zero
        user_std.replace(0, np.nan, inplace=True)
        
        # Calculating and assigning feature-specific z-score
        df[f"{col}_zscore"] = (df[col] - user_mean) / user_std
        df[f"{col}_zscore"] = df[f"{col}_zscore"].fillna(0)
        
    # Defining rolling temporal deltas
    for col in feature_cols:
        # Calculating the feature-specific rolling mean
        rolling_mean = (
            df.groupby("user")[col].transform(lambda x: x.rolling(window=rolling_window, min_periods=1).mean())
        )
        
        # Assigning feature-specific rolling window delta
        df[f"{col}_rolling_delta"] = df[col] - rolling_mean
        
    # Defining cross-channel risk flags
    df["usb_file_activity_flag"] = ((df.get("usb_insert_count", 0) > 0) & (df.get("file_write_count", 0) > 0)).astype(int)
    
    df["off_hours_activity_flag"] = ((df.filter(like="off_hours").sum(axis=1) > 0)).astype(int)
    
    df["external_comm_activity_flag"] = (df.get("external_emails", 0) > 0).astype(int)
    
    return df

In [39]:
ueba_matrix = apply_ueba_enhancements(behavioral_matrix)

In [40]:
ueba_matrix.head()

,user,pc,day,logon_count,logoff_count,off_hours_logon,file_open_count,file_write_count,file_copy_count,file_delete_count,...,usb_remove_count_rolling_delta,off_hours_usb_usage_rolling_delta,emails_sent_rolling_delta,unique_recipients_rolling_delta,external_emails_rolling_delta,attachements_sent_rolling_delta,off_hours_emails_rolling_delta,usb_file_activity_flag,off_hours_activity_flag,external_comm_activity_flag
0,aab0162,pc-6599,2010-01-04,1,1,2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0,1,1
1,aab0162,pc-6599,2010-01-05,1,1,2,0,0,0,0,...,0.0,0.0,0.0,1.5,0.000000,0.500000,-2.500000,0,0,1
2,aab0162,pc-6599,2010-01-06,1,1,2,0,0,0,0,...,0.0,0.0,0.0,1.0,-0.666667,-0.333333,3.666667,0,1,0
3,aab0162,pc-6599,2010-01-07,1,1,2,0,0,0,0,...,0.0,0.0,0.0,0.0,1.000000,-0.250000,0.500000,0,1,1
4,aab0162,pc-6599,2010-01-08,1,1,2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.800000,-1.000000,-3.600000,0,0,1

### Saving the Final UEBA-Enhanced Dataset:

In [41]:
def save_dataset(dataset: pd.DataFrame, filename: str="ueba_dataset.csv") -> None:
    """
    Saves the final UEBA-enhanced dataset to the specified path as a CSV file.
    
    Args:
        dataset: The UEBA-enhanced dataset
        file_name: The desired name of the CSV dataset
        
    Returns:
        None:
    """
    # Ensures directory exists
    save_path = os.path.join(os.getcwd(), "processed_datasets")
    os.makedirs(save_path, exist_ok=True)
    
    # Creates full file path
    file_path = os.path.join(save_path, filename)
    
    # Saving the dataset
    dataset.to_csv(file_path)
    print(f"Dataset succesfully saved to: {file_path}")

In [42]:
save_dataset(ueba_matrix)

Dataset succesfully saved to: c:\Users\loera\Documents\Insider-Threat-Detection\processed_datasets\ueba_dataset.csv